\documentclass[12pt,a4paper]{article}
\input{preamble.tex}

\title{تحلیل چالش‌های معماری نرم‌افزار در سرویس‌های مبتنی بر هوش مصنوعی مولد}
\author{مهدی مالوردی}
\date{}

\begin{document}
\maketitle
{{ content }}
\bibliographystyle{plain}
\bibliography{references}
\end{document}
